## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head(25)

WARNING:tensorflow:From C:\Users\sampl\anaconda3.1\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
5,10556855,MINORITY ORGAN & TISSUE TRANSPLANT & EDUCATION...,T3,Independent,C1200,Preservation,Trust,1,0,N,5000,1
6,10558440,FRIENDS OF ARTS COUNCIL OF GREATER DENHAM SPRI...,T3,Independent,C1000,Preservation,Trust,1,100000-499999,N,31452,1
7,10566033,ISRAEL EMERGENCY ALLIANCE,T3,Independent,C2000,Preservation,Trust,1,10M-50M,N,7508025,1
8,10570430,ARAMCO BRATS INC,T7,Independent,C1000,ProductDev,Trust,1,1-9999,N,94389,1
9,10571689,INTERNATIONAL ASSOCIATION OF FIRE FIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
10,10573059,KAI ELUA OUTRIGGER CANOE CLUB,T3,Independent,C1200,Preservation,Trust,1,25000-99999,N,69656,0
11,10575727,HERITAGE ACADEMY,T3,Independent,C2000,Preservation,Trust,1,100000-499999,N,165593,0
12,10583569,THE UNITED STATES PONY CLUBS INC,T3,CompanySponsored,C1200,Preservation,Association,1,0,N,5000,1
13,10585206,DOMINION INTERNATIONAL NETWORK OF MINISTRIES &...,T3,Independent,C2700,Preservation,Trust,1,25000-99999,N,5301,1
14,10585443,V O W FOUNDATION,T3,Independent,C1000,Preservation,Trust,1,0,N,5000,1
15,10596727,JOSEPH E PEEBLES JR FOUNDATION,T3,Independent,C1200,Preservation,Trust,1,0,N,5000,1
16,10602428,WASHINGTON ASSOCIATION OF PHYSICIANS OF INDIAN...,T3,Independent,C2000,Preservation,Trust,1,0,N,5000,1
17,10603214,SAINT FRANCIS HOSPITAL SOUTH LLC,T3,Independent,C1000,Heathcare,Trust,1,50M+,N,86380556,0
18,10604986,ANCHORAGE COMMUNITY MENTAL HEALTH SERVICES,T3,CompanySponsored,C1000,Preservation,Trust,1,0,N,5000,0
19,10605038,HABITAT FOR HUMANITY INTERNATIONAL INC,T3,CompanySponsored,C1000,Preservation,Trust,1,100000-499999,N,376109,0
20,10608689,INTERNATIONAL FELINE SHOWCASE,T4,Independent,C3000,ProductDev,Trust,1,0,N,5000,1
21,10612407,METAMORPHASIS POWERHOUSE COMPANY,T3,Independent,C1200,Preservation,Trust,1,0,N,5000,1
22,10614724,REACH FOR EXCELLENCE INC,T3,Independent,C7000,Preservation,Trust,1,100000-499999,N,318296,0
23,10622557,INTERNATIONAL ASSOCIATION OF LIONS CLUB,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
24,10623527,SONS OF CONFEDERATE VETERANS INC,T3,CompanySponsored,C1200,Preservation,Trust,1,0,N,5000,0

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(['EIN', 'NAME'], axis=1)
application_df = application_df.drop(['STATUS', 'SPECIAL_CONSIDERATIONS'], axis=1)

In [3]:
# Determine the number of unique values in each column.
unique_values = application_df.nunique()
print(unique_values)

APPLICATION_TYPE      17
AFFILIATION            6
CLASSIFICATION        71
USE_CASE               5
ORGANIZATION           4
INCOME_AMT             9
ASK_AMT             8747
IS_SUCCESSFUL          2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()
print(application_type_counts)

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
# First, look at APPLICATION_TYPE value counts for binning
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()

# Next, determine which values to replace
cutoff = 100 
application_types_to_replace = application_type_counts[application_type_counts < cutoff].index.tolist()

# Then, replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Finally, check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
Other      120
Name: count, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()
print(classification_counts)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts_gt1 = classification_counts[classification_counts > 1]
print(classification_counts_gt1)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
# First, look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()

# Next, determine which values to replace if their count is below a certain cutoff
cutoff = 100
classifications_to_replace = classification_counts[classification_counts < cutoff].index.tolist()

# Then, replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Finally, check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: count, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df_dummies = pd.get_dummies(application_df)

# Display the first few rows of the new DataFrame to verify the transformation
application_df_dummies.head()

,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,5000,1,False,True,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
1,108590,1,False,False,False,True,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
2,5000,0,False,False,False,False,False,True,False,False,...,False,True,False,False,False,False,False,False,False,False
3,6692,1,False,False,False,True,False,False,False,False,...,True,False,False,True,False,False,False,False,False,False
4,142590,1,False,False,False,True,False,False,False,False,...,True,False,False,False,True,False,False,False,False,False

In [10]:
# Split our preprocessed data into our features and target arrays
y = application_df_dummies['IS_SUCCESSFUL'].values
X = application_df_dummies.drop(['IS_SUCCESSFUL'], axis=1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [11]:
# Convert data types to float32, for model training below. 
X_train = X_train.astype('float32')
X_test = X_test.astype('float32')
y_train = y_train.astype('float32')
y_test = y_test.astype('float32')

In [12]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [13]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
n_features = X_train.shape[1]
number_hidden_nodes_layer1 = 35
number_hidden_nodes_layer2 = 20

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=number_hidden_nodes_layer1, input_dim=n_features, activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=number_hidden_nodes_layer2, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

WARNING:tensorflow:From C:\Users\sampl\anaconda3.1\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 35)                1680

 dense_1 (Dense)             (None, 20)                720

 dense_2 (Dense)             (None, 1)                 21

=================================================================
Total params: 2421 (9.46 KB)
Trainable params: 2421 (9.46 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [14]:
# Compile the model
nn.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

WARNING:tensorflow:From C:\Users\sampl\anaconda3.1\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [15]:
# Train the model
history = nn.fit(X_train, y_train, epochs=50, batch_size=32, validation_split=0.2)

Epoch 1/50
WARNING:tensorflow:From C:\Users\sampl\anaconda3.1\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From C:\Users\sampl\anaconda3.1\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

644/644 [==============================] - 6s 6ms/step - loss: 40959.0078 - accuracy: 0.5027 - val_loss: 391.5587 - val_accuracy: 0.4810
Epoch 2/50
644/644 [==============================] - 4s 5ms/step - loss: 27352.2891 - accuracy: 0.4906 - val_loss: 17739.0820 - val_accuracy: 0.5190
Epoch 3/50
644/644 [==============================] - 4s 6ms/step - loss: 25052.5977 - accuracy: 0.5165 - val_loss: 1580.5966 - val_accuracy: 0.4810
Epoch 4/50
644/644 [==============================] - 4s 6ms/step - loss: 6606.1309 - accuracy: 0.5044 - val_loss: 3033.3218 - val_accuracy: 0.4810
Epoch 5/50
644/644 [==============================] - 1s 2ms/step - loss: 8136.6704 - accuracy: 0.4921 - val_loss: 354745.1562 - val_accuracy: 0.5190
Epoch 6/50
644/644 [==============================] - 1s 2ms/step - loss: 40220.8281 - accuracy: 0.5300 - val_loss: 129522.4688 - val_accuracy: 0.5190
Epoch 7/50
644/644 [==============================] - 1s 2ms/step - loss: 8480.7744 - accuracy: 0.5365 - val_loss: 84930.1797 - val_accuracy: 0.5190
Epoch 8/50
644/644 [==============================] - 1s 2ms/step - loss: 31478.7441 - accuracy: 0.5144 - val_loss: 74252.9453 - val_accuracy: 0.5190
Epoch 9/50
644/644 [==============================] - 1s 2ms/step - loss: 21153.5820 - accuracy: 0.5290 - val_loss: 5324.7686 - val_accuracy: 0.4810
Epoch 10/50
644/644 [==============================] - 1s 2ms/step - loss: 17114.6387 - accuracy: 0.5025 - val_loss: 3700.4333 - val_accuracy: 0.5190
Epoch 11/50
644/644 [==============================] - 1s 2ms/step - loss: 3208.6646 - accuracy: 0.5091 - val_loss: 8079.1768 - val_accuracy: 0.5190
Epoch 12/50
644/644 [==============================] - 1s 2ms/step - loss: 20175.8438 - accuracy: 0.5042 - val_loss: 880.2700 - val_accuracy: 0.4810
Epoch 13/50
644/644 [==============================] - 1s 2ms/step - loss: 14214.6533 - accuracy: 0.5301 - val_loss: 477.6400 - val_accuracy: 0.4810
Epoch 14/50
644/644 [==============================] - 1s 2ms/step - loss: 12187.6270 - accuracy: 0.5027 - val_loss: 67123.3984 - val_accuracy: 0.5190
Epoch 15/50
644/644 [==============================] - 1s 2ms/step - loss: 7734.6484 - accuracy: 0.4996 - val_loss: 890.0098 - val_accuracy: 0.4810
Epoch 16/50
644/644 [==============================] - 1s 2ms/step - loss: 1865.1808 - accuracy: 0.5072 - val_loss: 1071.7128 - val_accuracy: 0.4810
Epoch 17/50
644/644 [==============================] - 1s 2ms/step - loss: 6766.3721 - accuracy: 0.4990 - val_loss: 3750.6523 - val_accuracy: 0.5190
Epoch 18/50
644/644 [==============================] - 1s 2ms/step - loss: 2101.6743 - accuracy: 0.4971 - val_loss: 375.9189 - val_accuracy: 0.4810
Epoch 19/50
644/644 [==============================] - 1s 2ms/step - loss: 1743.8904 - accuracy: 0.5093 - val_loss: 61.4712 - val_accuracy: 0.4956
Epoch 20/50
644/644 [==============================] - 1s 2ms/step - loss: 3833.8809 - accuracy: 0.5053 - val_loss: 59.7194 - val_accuracy: 0.4958
Epoch 21/50
644/644 [==============================] - 1s 2ms/step - loss: 5451.3662 - accuracy: 0.4952 - val_loss: 75.8604 - val_accuracy: 0.4939
Epoch 22/50
644/644 [==============================] - 1s 2ms/step - loss: 1612.4022 - accuracy: 0.5100 - val_loss: 6425.1597 - val_accuracy: 0.5190
Epoch 23/50
644/644 [==============================] - 1s 2ms/step - loss: 2657.0896 - accuracy: 0.5092 - val_loss: 81.0655 - val_accuracy: 0.4810
Epoch 24/50
644/644 [==============================] - 1s 2ms/step - loss: 595.2420 - accuracy: 0.5068 - val_loss: 13.8012 - val_accuracy: 0.4939
Epoch 25/50
644/644 [==============================] - 1s 2ms/step - loss: 194.7892 - accuracy: 0.5345 - val_loss: 0.6929 - val_accuracy: 0.5190
Epoch 26/50
644/644 [==============================] - 1s 2ms/step - loss: 0.6907 - accuracy: 0.5350 - val_loss: 0.6930 - val_accuracy: 0.5190
Epoch 27/50
644/644 [==============================] - 1s 2ms/step - loss: 0.6907 - accuracy: 0.5350 - val_loss: 0.6929 - val_accuracy: 0.5190
Epoch 28/50
644/644 [==============================] - 1s 2ms/step - loss: 0.6907 - accuracy: 0.5350 - val_loss: 0.6929 - val_accuracy: 0.5190
Epoch 29/50
644/644 [==============================] - 1s 2ms/step - loss: 0.6908 - accuracy: 0.5350 - val_loss: 0.6931 - val_accuracy: 0.5190
Epoch 30/50
644/644 [==============================] - 1s 2ms/step - loss: 0.6907 - accuracy: 0.5350 - val_loss: 0.6927 - val_accuracy: 0.5190
Epoch 31/50
644/644 [==============================] - 1s 2ms/step - loss: 0.6908 - accuracy: 0.5350 - val_loss: 0.6929 - val_accuracy: 0.5190
Epoch 32/50
644/644 [==============================] - 1s 2ms/step - loss: 0.6908 - accuracy: 0.5350 - val_loss: 0.6931 - val_accuracy: 0.5190
Epoch 33/50
644/644 [==============================] - 1s 2ms/step - loss: 0.6908 - accuracy: 0.5350 - val_loss: 0.6928 - val_accuracy: 0.5190
Epoch 34/50
644/644 [==============================] - 1s 2ms/step - loss: 0.6908 - accuracy: 0.5350 - val_loss: 0.6927 - val_accuracy: 0.5190
Epoch 35/50
644/644 [==============================] - 1s 2ms/step - loss: 0.6908 - accuracy: 0.5350 - val_loss: 0.6929 - val_accuracy: 0.5190
Epoch 36/50
644/644 [==============================] - 1s 2ms/step - loss: 0.6908 - accuracy: 0.5350 - val_loss: 0.6929 - val_accuracy: 0.5190
Epoch 37/50
644/644 [==============================] - 1s 2ms/step - loss: 0.6907 - accuracy: 0.5350 - val_loss: 0.6932 - val_accuracy: 0.5190
Epoch 38/50
644/644 [==============================] - 1s 2ms/step - loss: 0.6908 - accuracy: 0.5350 - val_loss: 0.6930 - val_accuracy: 0.5190
Epoch 39/50
644/644 [==============================] - 1s 2ms/step - loss: 0.6908 - accuracy: 0.5350 - val_loss: 0.6928 - val_accuracy: 0.5190
Epoch 40/50
644/644 [==============================] - 1s 2ms/step - loss: 0.6907 - accuracy: 0.5350 - val_loss: 0.6934 - val_accuracy: 0.5190
Epoch 41/50
644/644 [==============================] - 1s 2ms/step - loss: 0.6908 - accuracy: 0.5350 - val_loss: 0.6929 - val_accuracy: 0.5190
Epoch 42/50
644/644 [==============================] - 1s 2ms/step - loss: 0.6908 - accuracy: 0.5350 - val_loss: 0.6928 - val_accuracy: 0.5190
Epoch 43/50
644/644 [==============================] - 1s 2ms/step - loss: 0.6908 - accuracy: 0.5350 - val_loss: 0.6930 - val_accuracy: 0.5190
Epoch 44/50
644/644 [==============================] - 1s 2ms/step - loss: 0.6908 - accuracy: 0.5350 - val_loss: 0.6930 - val_accuracy: 0.5190
Epoch 45/50
644/644 [==============================] - 2s 3ms/step - loss: 0.6908 - accuracy: 0.5350 - val_loss: 0.6931 - val_accuracy: 0.5190
Epoch 46/50
644/644 [==============================] - 1s 2ms/step - loss: 0.6908 - accuracy: 0.5350 - val_loss: 0.6929 - val_accuracy: 0.5190
Epoch 47/50
644/644 [==============================] - 1s 2ms/step - loss: 0.6908 - accuracy: 0.5350 - val_loss: 0.6930 - val_accuracy: 0.5190
Epoch 48/50
644/644 [==============================] - 1s 2ms/step - loss: 0.6908 - accuracy: 0.5350 - val_loss: 0.6928 - val_accuracy: 0.5190
Epoch 49/50
644/644 [==============================] - 1s 2ms/step - loss: 0.6908 - accuracy: 0.5350 - val_loss: 0.6930 - val_accuracy: 0.5190
Epoch 50/50
644/644 [==============================] - 1s 2ms/step - loss: 0.6908 - accuracy: 0.5350 - val_loss: 0.6928 - val_accuracy: 0.5190

In [16]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.7598 - accuracy: 0.5377 - 379ms/epoch - 1ms/step
Loss: 0.7597507834434509, Accuracy: 0.5377259254455566

In [17]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimization_3.h5")

C:\Users\sampl\anaconda3.1\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(