## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
ASK_AMT_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
ASK_AMT_df.head()

WARNING:tensorflow:From C:\Users\sampl\anaconda3.1\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
ASK_AMT_df = ASK_AMT_df.drop(['EIN', 'NAME'], axis=1)

In [3]:
# Determine the number of unique values in each column.
unique_values = ASK_AMT_df.nunique()
print(unique_values)

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at ASK_AMT value counts for binning
ASK_AMT_counts = ASK_AMT_df['ASK_AMT'].value_counts()
print(ASK_AMT_counts)

ASK_AMT
5000        25398
10478           3
15583           3
63981           3
6725            3
            ...
5371754         1
30060           1
43091152        1
18683           1
36500179        1
Name: count, Length: 8747, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
# First, look at APPLICATION_TYPE value counts for binning
ASK_AMT_counts = ASK_AMT_df['ASK_AMT'].value_counts()

# Next, determine which values to replace
cutoff = 100 
ASK_AMT_to_replace = ASK_AMT_counts[ASK_AMT_counts < cutoff].index.tolist()

# Then, replace in dataframe
for app in ASK_AMT_to_replace:
    ASK_AMT_df['ASK_AMT'] = ASK_AMT_df['ASK_AMT'].replace(app,"Other")

# Finally, check to make sure binning was successful
ASK_AMT_df['ASK_AMT'].value_counts()

ASK_AMT
5000     25398
Other     8901
Name: count, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
CLASSIFICATION_counts = ASK_AMT_df['CLASSIFICATION'].value_counts()
print(CLASSIFICATION_counts)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
CLASSIFICATION_counts = ASK_AMT_df['CLASSIFICATION'].value_counts()
CLASSIFICATION_counts_gt1 = CLASSIFICATION_counts[CLASSIFICATION_counts > 1]
print(CLASSIFICATION_counts_gt1)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
# First, look at CLASSIFICATION value counts for binning
CLASSIFICATION_counts = ASK_AMT_df['CLASSIFICATION'].value_counts()

# Next, determine which values to replace if their count is below a certain cutoff
cutoff = 100
CLASSIFICATION_to_replace = CLASSIFICATION_counts[CLASSIFICATION_counts < cutoff].index.tolist()

# Then, replace in dataframe
for cls in CLASSIFICATION_to_replace:
    ASK_AMT_df['CLASSIFICATION'] = ASK_AMT_df['CLASSIFICATION'].replace(cls,"Other")
    
# Finally, check to make sure binning was successful
ASK_AMT_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: count, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
ASK_AMT_df_dummies = pd.get_dummies(ASK_AMT_df)

# Display the first few rows of the new DataFrame to verify the transformation
ASK_AMT_df_dummies.head()

,STATUS,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,ASK_AMT_5000,ASK_AMT_Other
0,1,1,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,True,False
1,1,1,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,True
2,1,0,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,True,False
3,1,1,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,True
4,1,1,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,True,False,False,True

In [10]:
# Split our preprocessed data into our features and target arrays
y = ASK_AMT_df_dummies['IS_SUCCESSFUL'].values
X = ASK_AMT_df_dummies.drop(['IS_SUCCESSFUL'], axis=1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [11]:
# Convert data types to float32, for model training below. 
X_train = X_train.astype('float32')
X_test = X_test.astype('float32')
y_train = y_train.astype('float32')
y_test = y_test.astype('float32')

In [12]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [18]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
n_features = X_train.shape[1]
number_hidden_nodes_layer1 = 100
number_hidden_nodes_layer2 = 40

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=number_hidden_nodes_layer1, input_dim=n_features, activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=number_hidden_nodes_layer2, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 100)               5900

 dense_4 (Dense)             (None, 40)                4040

 dense_5 (Dense)             (None, 1)                 41

=================================================================
Total params: 9981 (38.99 KB)
Trainable params: 9981 (38.99 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [19]:
# Compile the model
nn.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [20]:
# Train the model
history = nn.fit(X_train, y_train, epochs=50, batch_size=32, validation_split=0.2)

Epoch 1/50
644/644 [==============================] - 2s 2ms/step - loss: 0.5748 - accuracy: 0.7144 - val_loss: 0.5462 - val_accuracy: 0.7386
Epoch 2/50
644/644 [==============================] - 1s 2ms/step - loss: 0.5546 - accuracy: 0.7267 - val_loss: 0.5480 - val_accuracy: 0.7361
Epoch 3/50
644/644 [==============================] - 1s 2ms/step - loss: 0.5510 - accuracy: 0.7279 - val_loss: 0.5472 - val_accuracy: 0.7345
Epoch 4/50
644/644 [==============================] - 1s 2ms/step - loss: 0.5491 - accuracy: 0.7286 - val_loss: 0.5488 - val_accuracy: 0.7314
Epoch 5/50
644/644 [==============================] - 2s 2ms/step - loss: 0.5473 - accuracy: 0.7291 - val_loss: 0.5422 - val_accuracy: 0.7366
Epoch 6/50
644/644 [==============================] - 4s 7ms/step - loss: 0.5462 - accuracy: 0.7284 - val_loss: 0.5449 - val_accuracy: 0.7366
Epoch 7/50
644/644 [==============================] - 4s 6ms/step - loss: 0.5457 - accuracy: 0.7303 - val_loss: 0.5510 - val_accuracy: 0.7331
Epoch 8/50
644/644 [==============================] - 3s 4ms/step - loss: 0.5445 - accuracy: 0.7318 - val_loss: 0.5454 - val_accuracy: 0.7378
Epoch 9/50
644/644 [==============================] - 2s 3ms/step - loss: 0.5442 - accuracy: 0.7313 - val_loss: 0.5409 - val_accuracy: 0.7407
Epoch 10/50
644/644 [==============================] - 2s 3ms/step - loss: 0.5431 - accuracy: 0.7310 - val_loss: 0.5425 - val_accuracy: 0.7370
Epoch 11/50
644/644 [==============================] - 2s 3ms/step - loss: 0.5422 - accuracy: 0.7327 - val_loss: 0.5560 - val_accuracy: 0.7343
Epoch 12/50
644/644 [==============================] - 3s 4ms/step - loss: 0.5426 - accuracy: 0.7340 - val_loss: 0.5459 - val_accuracy: 0.7380
Epoch 13/50
644/644 [==============================] - 2s 3ms/step - loss: 0.5415 - accuracy: 0.7340 - val_loss: 0.5434 - val_accuracy: 0.7380
Epoch 14/50
644/644 [==============================] - 2s 3ms/step - loss: 0.5407 - accuracy: 0.7341 - val_loss: 0.5417 - val_accuracy: 0.7339
Epoch 15/50
644/644 [==============================] - 2s 3ms/step - loss: 0.5406 - accuracy: 0.7333 - val_loss: 0.5420 - val_accuracy: 0.7366
Epoch 16/50
644/644 [==============================] - 3s 4ms/step - loss: 0.5401 - accuracy: 0.7357 - val_loss: 0.5401 - val_accuracy: 0.7378
Epoch 17/50
644/644 [==============================] - 2s 4ms/step - loss: 0.5390 - accuracy: 0.7328 - val_loss: 0.5441 - val_accuracy: 0.7289
Epoch 18/50
644/644 [==============================] - 2s 3ms/step - loss: 0.5392 - accuracy: 0.7340 - val_loss: 0.5430 - val_accuracy: 0.7335
Epoch 19/50
644/644 [==============================] - 2s 3ms/step - loss: 0.5386 - accuracy: 0.7344 - val_loss: 0.5441 - val_accuracy: 0.7347
Epoch 20/50
644/644 [==============================] - 3s 4ms/step - loss: 0.5384 - accuracy: 0.7347 - val_loss: 0.5409 - val_accuracy: 0.7359
Epoch 21/50
644/644 [==============================] - 2s 3ms/step - loss: 0.5378 - accuracy: 0.7346 - val_loss: 0.5420 - val_accuracy: 0.7372
Epoch 22/50
644/644 [==============================] - 2s 3ms/step - loss: 0.5376 - accuracy: 0.7361 - val_loss: 0.5430 - val_accuracy: 0.7366
Epoch 23/50
644/644 [==============================] - 3s 5ms/step - loss: 0.5375 - accuracy: 0.7354 - val_loss: 0.5410 - val_accuracy: 0.7374
Epoch 24/50
644/644 [==============================] - 3s 4ms/step - loss: 0.5370 - accuracy: 0.7365 - val_loss: 0.5413 - val_accuracy: 0.7396
Epoch 25/50
644/644 [==============================] - 2s 4ms/step - loss: 0.5365 - accuracy: 0.7368 - val_loss: 0.5405 - val_accuracy: 0.7384
Epoch 26/50
644/644 [==============================] - 2s 4ms/step - loss: 0.5363 - accuracy: 0.7371 - val_loss: 0.5429 - val_accuracy: 0.7370
Epoch 27/50
644/644 [==============================] - 2s 3ms/step - loss: 0.5362 - accuracy: 0.7352 - val_loss: 0.5425 - val_accuracy: 0.7368
Epoch 28/50
644/644 [==============================] - 2s 4ms/step - loss: 0.5364 - accuracy: 0.7368 - val_loss: 0.5402 - val_accuracy: 0.7370
Epoch 29/50
644/644 [==============================] - 2s 3ms/step - loss: 0.5355 - accuracy: 0.7369 - val_loss: 0.5419 - val_accuracy: 0.7372
Epoch 30/50
644/644 [==============================] - 2s 3ms/step - loss: 0.5352 - accuracy: 0.7368 - val_loss: 0.5424 - val_accuracy: 0.7366
Epoch 31/50
644/644 [==============================] - 2s 3ms/step - loss: 0.5347 - accuracy: 0.7373 - val_loss: 0.5426 - val_accuracy: 0.7349
Epoch 32/50
644/644 [==============================] - 2s 3ms/step - loss: 0.5352 - accuracy: 0.7375 - val_loss: 0.5422 - val_accuracy: 0.7357
Epoch 33/50
644/644 [==============================] - 2s 3ms/step - loss: 0.5345 - accuracy: 0.7371 - val_loss: 0.5441 - val_accuracy: 0.7329
Epoch 34/50
644/644 [==============================] - 3s 4ms/step - loss: 0.5346 - accuracy: 0.7375 - val_loss: 0.5421 - val_accuracy: 0.7359
Epoch 35/50
644/644 [==============================] - 2s 4ms/step - loss: 0.5338 - accuracy: 0.7369 - val_loss: 0.5424 - val_accuracy: 0.7366
Epoch 36/50
644/644 [==============================] - 2s 3ms/step - loss: 0.5334 - accuracy: 0.7386 - val_loss: 0.5446 - val_accuracy: 0.7347
Epoch 37/50
644/644 [==============================] - 2s 3ms/step - loss: 0.5336 - accuracy: 0.7381 - val_loss: 0.5435 - val_accuracy: 0.7370
Epoch 38/50
644/644 [==============================] - 2s 3ms/step - loss: 0.5334 - accuracy: 0.7384 - val_loss: 0.5429 - val_accuracy: 0.7362
Epoch 39/50
644/644 [==============================] - 2s 3ms/step - loss: 0.5332 - accuracy: 0.7388 - val_loss: 0.5427 - val_accuracy: 0.7372
Epoch 40/50
644/644 [==============================] - 2s 3ms/step - loss: 0.5326 - accuracy: 0.7376 - val_loss: 0.5409 - val_accuracy: 0.7370
Epoch 41/50
644/644 [==============================] - 2s 3ms/step - loss: 0.5328 - accuracy: 0.7387 - val_loss: 0.5428 - val_accuracy: 0.7355
Epoch 42/50
644/644 [==============================] - 2s 3ms/step - loss: 0.5322 - accuracy: 0.7390 - val_loss: 0.5451 - val_accuracy: 0.7329
Epoch 43/50
644/644 [==============================] - 2s 3ms/step - loss: 0.5323 - accuracy: 0.7385 - val_loss: 0.5434 - val_accuracy: 0.7388
Epoch 44/50
644/644 [==============================] - 2s 3ms/step - loss: 0.5323 - accuracy: 0.7391 - val_loss: 0.5451 - val_accuracy: 0.7388
Epoch 45/50
644/644 [==============================] - 2s 3ms/step - loss: 0.5318 - accuracy: 0.7391 - val_loss: 0.5430 - val_accuracy: 0.7374
Epoch 46/50
644/644 [==============================] - 2s 3ms/step - loss: 0.5315 - accuracy: 0.7389 - val_loss: 0.5432 - val_accuracy: 0.7318
Epoch 47/50
644/644 [==============================] - 2s 3ms/step - loss: 0.5316 - accuracy: 0.7388 - val_loss: 0.5433 - val_accuracy: 0.7376
Epoch 48/50
644/644 [==============================] - 2s 4ms/step - loss: 0.5317 - accuracy: 0.7392 - val_loss: 0.5455 - val_accuracy: 0.7357
Epoch 49/50
644/644 [==============================] - 3s 4ms/step - loss: 0.5316 - accuracy: 0.7388 - val_loss: 0.5421 - val_accuracy: 0.7366
Epoch 50/50
644/644 [==============================] - 2s 3ms/step - loss: 0.5312 - accuracy: 0.7390 - val_loss: 0.5436 - val_accuracy: 0.7362

In [21]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 2.7218 - accuracy: 0.6575 - 281ms/epoch - 1ms/step
Loss: 2.7218427658081055, Accuracy: 0.6574926972389221

In [22]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimization_5.h5")