## Preprocessing

In [21]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [22]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(['EIN', 'NAME'], axis=1)

In [23]:
# Determine the number of unique values in each column.
unique_values = application_df.nunique()
print(unique_values)

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [24]:
# Look at APPLICATION_TYPE value counts for binning
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()
print(application_type_counts)

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [25]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
# First, look at APPLICATION_TYPE value counts for binning
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()

# Next, determine which values to replace
cutoff = 100 
application_types_to_replace = application_type_counts[application_type_counts < cutoff].index.tolist()

# Then, replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Finally, check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
Other      120
Name: count, dtype: int64

In [26]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()
print(classification_counts)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [27]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts_gt1 = classification_counts[classification_counts > 1]
print(classification_counts_gt1)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [28]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
# First, look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()

# Next, determine which values to replace if their count is below a certain cutoff
cutoff = 50
classifications_to_replace = classification_counts[classification_counts < cutoff].index.tolist()

# Then, replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Finally, check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      391
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
Name: count, dtype: int64

In [29]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df_dummies = pd.get_dummies(application_df)

# Display the first few rows of the new DataFrame to verify the transformation
application_df_dummies.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,1,False,False,False,True,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,0,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,1,False,False,False,True,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,1,False,False,False,True,False,False,False,...,False,False,True,False,False,False,False,False,True,False

In [30]:
# Split our preprocessed data into our features and target arrays
y = application_df_dummies['IS_SUCCESSFUL'].values
X = application_df_dummies.drop(['IS_SUCCESSFUL'], axis=1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [31]:
# Convert data types to float32, for model training below. 
X_train = X_train.astype('float32')
X_test = X_test.astype('float32')
y_train = y_train.astype('float32')
y_test = y_test.astype('float32')

In [32]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [33]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
n_features = X_train.shape[1]
number_hidden_nodes_layer1 = 70
number_hidden_nodes_layer2 = 40

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=number_hidden_nodes_layer1, input_dim=n_features, activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=number_hidden_nodes_layer2, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 70)                3850

 dense_4 (Dense)             (None, 40)                2840

 dense_5 (Dense)             (None, 1)                 41

=================================================================
Total params: 6731 (26.29 KB)
Trainable params: 6731 (26.29 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [34]:
# Compile the model
nn.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [35]:
# Train the model
history = nn.fit(X_train, y_train, epochs=50, batch_size=32, validation_split=0.2)

Epoch 1/50
644/644 [==============================] - 6s 6ms/step - loss: 71718.8594 - accuracy: 0.5004 - val_loss: 3844.3821 - val_accuracy: 0.4810
Epoch 2/50
644/644 [==============================] - 4s 6ms/step - loss: 16535.3633 - accuracy: 0.4883 - val_loss: 4532.8481 - val_accuracy: 0.4810
Epoch 3/50
644/644 [==============================] - 4s 6ms/step - loss: 35611.6602 - accuracy: 0.4848 - val_loss: 9176.5703 - val_accuracy: 0.4810
Epoch 4/50
644/644 [==============================] - 4s 6ms/step - loss: 52817.6758 - accuracy: 0.5019 - val_loss: 50.7792 - val_accuracy: 0.5098
Epoch 5/50
644/644 [==============================] - 4s 6ms/step - loss: 45851.2266 - accuracy: 0.5076 - val_loss: 2454.1892 - val_accuracy: 0.5190
Epoch 6/50
644/644 [==============================] - 4s 6ms/step - loss: 25038.0293 - accuracy: 0.4916 - val_loss: 1371.0710 - val_accuracy: 0.4810
Epoch 7/50
644/644 [==============================] - 4s 6ms/step - loss: 36836.7734 - accuracy: 0.5233 - val_loss: 10346.9736 - val_accuracy: 0.5190
Epoch 8/50
644/644 [==============================] - 4s 6ms/step - loss: 18800.3906 - accuracy: 0.4964 - val_loss: 929.8304 - val_accuracy: 0.4810
Epoch 9/50
644/644 [==============================] - 4s 5ms/step - loss: 27135.6387 - accuracy: 0.5059 - val_loss: 118681.6719 - val_accuracy: 0.5190
Epoch 10/50
644/644 [==============================] - 4s 6ms/step - loss: 28877.4102 - accuracy: 0.4984 - val_loss: 2880.8118 - val_accuracy: 0.4810
Epoch 11/50
644/644 [==============================] - 4s 5ms/step - loss: 19976.1582 - accuracy: 0.5186 - val_loss: 4087.9331 - val_accuracy: 0.5190
Epoch 12/50
644/644 [==============================] - 4s 6ms/step - loss: 13017.1533 - accuracy: 0.5137 - val_loss: 1428.3190 - val_accuracy: 0.4810
Epoch 13/50
644/644 [==============================] - 4s 6ms/step - loss: 12105.3877 - accuracy: 0.5319 - val_loss: 41725.0039 - val_accuracy: 0.5190
Epoch 14/50
644/644 [==============================] - 3s 5ms/step - loss: 17569.2461 - accuracy: 0.5093 - val_loss: 54839.0117 - val_accuracy: 0.5190
Epoch 15/50
644/644 [==============================] - 4s 5ms/step - loss: 22156.9258 - accuracy: 0.5043 - val_loss: 51.5715 - val_accuracy: 0.6595
Epoch 16/50
644/644 [==============================] - 3s 5ms/step - loss: 3173.0901 - accuracy: 0.5575 - val_loss: 838.0956 - val_accuracy: 0.4810
Epoch 17/50
644/644 [==============================] - 4s 6ms/step - loss: 4780.2461 - accuracy: 0.5078 - val_loss: 775.3305 - val_accuracy: 0.4810
Epoch 18/50
644/644 [==============================] - 4s 6ms/step - loss: 11868.8203 - accuracy: 0.5029 - val_loss: 109.5783 - val_accuracy: 0.5990
Epoch 19/50
644/644 [==============================] - 4s 6ms/step - loss: 5722.6729 - accuracy: 0.5156 - val_loss: 23.6564 - val_accuracy: 0.5013
Epoch 20/50
644/644 [==============================] - 4s 5ms/step - loss: 4227.0405 - accuracy: 0.5008 - val_loss: 677.3836 - val_accuracy: 0.4810
Epoch 21/50
644/644 [==============================] - 3s 5ms/step - loss: 3479.3301 - accuracy: 0.5168 - val_loss: 31840.4316 - val_accuracy: 0.5190
Epoch 22/50
644/644 [==============================] - 3s 5ms/step - loss: 1894.5286 - accuracy: 0.5094 - val_loss: 757.4592 - val_accuracy: 0.5190
Epoch 23/50
644/644 [==============================] - 3s 5ms/step - loss: 1577.1582 - accuracy: 0.5110 - val_loss: 80.9984 - val_accuracy: 0.4923
Epoch 24/50
644/644 [==============================] - 3s 5ms/step - loss: 493.3243 - accuracy: 0.5260 - val_loss: 5.3144 - val_accuracy: 0.4982
Epoch 25/50
644/644 [==============================] - 3s 5ms/step - loss: 5.3005 - accuracy: 0.5511 - val_loss: 0.6519 - val_accuracy: 0.6109
Epoch 26/50
644/644 [==============================] - 3s 5ms/step - loss: 0.6444 - accuracy: 0.6184 - val_loss: 0.6402 - val_accuracy: 0.6360
Epoch 27/50
644/644 [==============================] - 3s 5ms/step - loss: 0.6395 - accuracy: 0.6275 - val_loss: 0.6387 - val_accuracy: 0.6362
Epoch 28/50
644/644 [==============================] - 3s 5ms/step - loss: 0.6388 - accuracy: 0.6280 - val_loss: 0.6391 - val_accuracy: 0.6371
Epoch 29/50
644/644 [==============================] - 3s 5ms/step - loss: 0.6382 - accuracy: 0.6291 - val_loss: 0.6370 - val_accuracy: 0.6373
Epoch 30/50
644/644 [==============================] - 3s 5ms/step - loss: 0.6377 - accuracy: 0.6299 - val_loss: 0.6372 - val_accuracy: 0.6381
Epoch 31/50
644/644 [==============================] - 3s 5ms/step - loss: 0.6363 - accuracy: 0.6342 - val_loss: 0.6324 - val_accuracy: 0.6490
Epoch 32/50
644/644 [==============================] - 3s 5ms/step - loss: 0.6330 - accuracy: 0.6437 - val_loss: 0.6289 - val_accuracy: 0.6597
Epoch 33/50
644/644 [==============================] - 3s 5ms/step - loss: 0.6296 - accuracy: 0.6519 - val_loss: 0.6289 - val_accuracy: 0.6606
Epoch 34/50
644/644 [==============================] - 3s 5ms/step - loss: 0.6285 - accuracy: 0.6545 - val_loss: 0.6257 - val_accuracy: 0.6655
Epoch 35/50
644/644 [==============================] - 3s 5ms/step - loss: 0.6273 - accuracy: 0.6560 - val_loss: 0.6264 - val_accuracy: 0.6624
Epoch 36/50
644/644 [==============================] - 4s 6ms/step - loss: 0.6315 - accuracy: 0.6517 - val_loss: 0.6303 - val_accuracy: 0.6579
Epoch 37/50
644/644 [==============================] - 4s 6ms/step - loss: 0.9672 - accuracy: 0.6352 - val_loss: 0.6967 - val_accuracy: 0.4810
Epoch 38/50
644/644 [==============================] - 3s 5ms/step - loss: 0.6913 - accuracy: 0.5291 - val_loss: 0.6927 - val_accuracy: 0.5190
Epoch 39/50
644/644 [==============================] - 3s 5ms/step - loss: 0.6908 - accuracy: 0.5350 - val_loss: 0.6933 - val_accuracy: 0.5190
Epoch 40/50
644/644 [==============================] - 4s 5ms/step - loss: 0.6908 - accuracy: 0.5350 - val_loss: 0.6927 - val_accuracy: 0.5190
Epoch 41/50
644/644 [==============================] - 3s 5ms/step - loss: 0.6908 - accuracy: 0.5350 - val_loss: 0.6928 - val_accuracy: 0.5190
Epoch 42/50
644/644 [==============================] - 3s 5ms/step - loss: 0.6908 - accuracy: 0.5350 - val_loss: 0.6930 - val_accuracy: 0.5190
Epoch 43/50
644/644 [==============================] - 3s 5ms/step - loss: 0.6908 - accuracy: 0.5350 - val_loss: 0.6930 - val_accuracy: 0.5190
Epoch 44/50
644/644 [==============================] - 3s 5ms/step - loss: 0.6908 - accuracy: 0.5350 - val_loss: 0.6938 - val_accuracy: 0.5190
Epoch 45/50
644/644 [==============================] - 3s 5ms/step - loss: 0.6907 - accuracy: 0.5350 - val_loss: 0.6937 - val_accuracy: 0.5190
Epoch 46/50
644/644 [==============================] - 3s 5ms/step - loss: 0.6909 - accuracy: 0.5350 - val_loss: 0.6931 - val_accuracy: 0.5190
Epoch 47/50
644/644 [==============================] - 3s 5ms/step - loss: 0.6908 - accuracy: 0.5350 - val_loss: 0.6931 - val_accuracy: 0.5190
Epoch 48/50
644/644 [==============================] - 4s 5ms/step - loss: 0.6908 - accuracy: 0.5350 - val_loss: 0.6929 - val_accuracy: 0.5190
Epoch 49/50
644/644 [==============================] - 3s 5ms/step - loss: 0.6907 - accuracy: 0.5350 - val_loss: 0.6925 - val_accuracy: 0.5190
Epoch 50/50
644/644 [==============================] - 3s 5ms/step - loss: 0.6908 - accuracy: 0.5350 - val_loss: 0.6926 - val_accuracy: 0.5190

In [36]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 1.5713 - accuracy: 0.5340 - 839ms/epoch - 3ms/step
Loss: 1.5712653398513794, Accuracy: 0.533994197845459

In [37]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimization_1.h5")

C:\Users\sampl\anaconda3.1\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(